
// Body
$body-bg: #f6f6f6;
$grid-columns:      12;
$grid-gutter-width: 16px;


// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Lato", sans-serif;
$font-family-heading: "Arvo", serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: #111;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs

// Panels
$panel-default-heading-bg: #fff;
$line-height-computed:    floor(($font-size-base * $line-height-base)) + 10px;
